@charset "utf-8";

/* layout */
body {position:relative; min-width:1020px; overflow:hidden;}
.width_fix {width:1000px; margin:auto;}

#skip {position:absolute; top:0; left:0; right:0; z-index:300;}
#skip a {display:block; position:absolute; top:0; margin-bottom:-1px; width:1px; height:1px; text-align:center; white-space:nowrap; text-decoration:none; font-weight:bold; font-size:18px; overflow:hidden;}
#skip a:focus, #skip a:active {left:0; top:0; right:0; width:100%; height:40px; line-height:40px; color:#fff; background:#333;}

#wrap {}
#header {position:fixed; left:0; right:0; top:0; border-bottom:1px solid #ddd; box-shadow:3px 0 3px rgba(0,0,0,.1); background:rgba(255,255,255,1);}
.btn_menu {display:none;}
#header_inner {width:1000px; margin:auto; padding:20px 0 15px; overflow:hidden;}
#logo {float:left;}
#logo img {width:230px;}
#gnb {float:right; margin-right:-30px; overflow:hidden;}
#gnb li {float:left; margin:0 10px;}
#gnb li a {display:block; height:49px; padding:0 20px; font-size:20px; line-height:49px; font-family:'Myriad Pro', Arial, Verdana;}
#gnb li.on a, #gnb li a:hover, #gnb li a:focus {color:#0ca0cb;}

.sec_innner {width:1000px; margin:auto; padding:150px 0 120px;}

/*
#home {background:url(../images/bg_about.jpg) no-repeat center; background-size:150% auto; background-attachment:fixed;}
#home .sec_innner {height:400px; padding:20% 0 18%;}
#home h2 {margin-bottom:30px; color:#2e2e2e; font-weight:normal; font-size:50px; font-family:'Myriad Pro', Arial, Verdana; line-height:60px; text-align:center; letter-spacing:-1px;}
#home p {width:700px; margin:auto; padding:20px 0; background:rgba(255,255,255,0.8);}
*/

#home {background:url(../images/bg_home.jpg) no-repeat center; background-size:1920px auto; background-attachment:fixed;}
#home .sec_innner {width:auto; height:800px; padding:100px; 0;}
#home h2 {margin-bottom:20px; color:#2e2e2e; font-size:80px; font-family:Georgia, "Times New Roman", Times, serif, 'Myriad Pro', Arial, Verdana; line-height:80px; text-align:center; letter-spacing:-1px;}
#home p {margin:auto; padding:20px 0; color:#666; font-weight:normal; font-size:40px; font-family:Georgia, Arial, Tahoma, 'Myriad Pro', Verdana;}
#home .btn_down {display:block; width:300px; height:60px; margin:70px auto 0; border-radius:30px; font-size:30px; line-height:60px; text-align:center; background:rgba(0,0,0,0.1); overflow:hidden;}

/*
#home {background:url(../images/bg_about.jpg) no-repeat center; background-size:100% auto; background-attachment:fixed;}
#home .sec_innner {width:auto; height:700px; padding:300px 0 0;}
#home h2 {margin-bottom:20px; color:#2e2e2e; font-size:80px; font-family:Georgia, "Times New Roman", Times, serif, 'Myriad Pro', Arial, Verdana; text-shadow:rgba(255,255,255,.5); line-height:80px; text-align:center; letter-spacing:-1px;}
#home .bg {background:rgba(255,255,255,0.8);}
#home p {margin:auto; padding:20px 0; color:#333; font-weight:normal; font-size:40px; font-family:Georgia, Arial, Tahoma, 'Myriad Pro', Verdana;}
#home .btn_down {display:block; width:300px; height:60px; margin:70px auto 0; border:1px solid rgba(0,0,0,0.5); border-radius:30px; font-weight:bold; font-size:24px; line-height:60px; text-align:center; background:rgba(0,0,0,0.1); overflow:hidden;}
*/

/*
#home {background:url(../images/bg_mac.jpg) no-repeat center; background-size:100% auto; background-attachment:fixed;}
#home .sec_innner {width:auto; height:800px; padding:200px 0 0;}
#home h2 {margin-bottom:20px; color:#fff; font-size:80px; font-family:Georgia, "Times New Roman", Times, serif, 'Myriad Pro', Arial, Verdana; text-shadow:rgba(255,255,255,.5); line-height:80px; text-align:center; letter-spacing:-1px;}
#home p {margin:auto; padding:20px 0; color:#ddd; font-weight:normal; font-size:40px; font-family:Georgia, Arial, Tahoma, 'Myriad Pro', Verdana;}
#home .btn_down {display:block; width:300px; height:60px; margin:70px auto 0; border:1px solid rgba(0,0,0,0.5); border-radius:30px; font-weight:bold; font-size:24px; line-height:60px; text-align:center; background:rgba(0,0,0,0.1); overflow:hidden;}
*/

#about {}
#about .about_ent {border:1px solid #e3e3e3; text-align:center; background:rgba(255,255,255,.5);}
#about .about_ent p {margin:40px 0;}
#about .vision {width:800px; margin:auto;}
#about .vision p {line-height:55px;}
#about .vision p strong {display:inline-block; width:120px; font-weight:normal; font-size:36px; font-family:'Myriad Pro', Arial, Verdana; vertical-align:middle; background:url(../images/bul_arr.png) no-repeat 105px center;}
#about .vision p strong span {color:#0ca0cb;}
#biz {background:#f1f1f1;}
#biz .biz_area {margin:60px 14px 50px; padding:200px 0 95px; border-bottom:1px solid #d5d5d5; background:url(../images/bg_bizarea.png) no-repeat 85px 0; overflow:hidden;}
#biz .biz_area dl {float:left;}
#biz .biz_area dt {margin-bottom:25px; font-weight:bold; font-size:16px; text-align:center;}
#biz .biz_area dt.si {color:#3d9e92;}
#biz .biz_area dt.sm {color:#3379b3;}
#biz .biz_area dt.solution {color:#cd782b;}
#biz .biz_area dd {padding-left:16px; padding-right:25px; border-left:1px solid #d5d5d5;}
#biz .client {overflow:hidden;}
#biz .client li {display: flex; justify-content: center; align-items: center; float:left; width:25%; height:50px; margin:10px 0; text-align:center;}
#biz .client img {max-width:100%; max-height:100%;}
#solution {background:url(../images/smartphone-925287.jpg) no-repeat center; background-size:cover; background-attachment:fixed;}
#solution .sec_innner {width:800px; margin:auto;}
#contact {background:#f1f1f1;}

#footer {padding:40px 0; text-align:center;}
#footer address {font-style:normal; font-size:13px; line-height:24px;}

/* common */
.tit1 {height:90px; margin-bottom:30px; color:#2e2e2e; font-weight:bold; font-weight:normal; font-size:50px; font-family:'Myriad Pro', Arial, Verdana; line-height:90px; text-align:center; letter-spacing:-1px; background:url(../images/bg_tit1.gif) no-repeat center 0;}
.tit1 span {color:#0ca0cb;}
.tit2 {margin:50px 0 20px; color:#1c3676; font-weight:bold; font-size:26px; line-height:40px; text-align:center; letter-spacing:-1px;}
.colr_point {color:#0ca0cb;}

/* content */

